{% extends "layout.html" %}

{% block title %}
    Inventory Movements
{% endblock %}

{% block h1 %}
    <h1 class="text-center my-4">Inventory Movements</h1>
{% endblock %}

{% block main %}
<div class="container text-center mt-3 justify-content-center">
    <!-- Search input -->
    <div class="row mb-4">
        <div class=" col-md-4 pb-1">
            <input type="text" id="search-input" class="form-control" placeholder="Search by name or code">
        </div>
        <div class="col-12 col-md-2 pb-1">
            <select id="filter-type" class="form-select">
                <option value="">All Types</option>
                <option value="sale">Sale</option>
                <option value="purchase">Purchase</option>
                <option value="return">Return</option>
                <option value="output">Output</option>
            </select>
        </div>
        <div class="col-12 col-md-2 pb-1">
            <input type="number" id="document-id-filter" class="form-control" placeholder="Document Id">
        </div>
        <div class="col-12 col-md-2 pb-1">
            <select id="status-filter" class="form-select">
                <option value="">All Statuses</option>
                <option value="delivered">Delivered</option>
                <option value="to deliver">To deliver</option>
            </select>
        </div>
        <div class="col-12 col-md-2 pb-1">
            <select id="date-filter" class="form-select">
                <option value="">All Dates</option>
                <option value="today">Today</option>
                <option value="this_week">This Week</option>
                <option value="this_month">This Month</option>
                <option value="custom">From... to...</option>
            </select>
            <div class="col p-0">
                <input type="date" id="start-date" class="form-control" style="display: none;">
            </div>
            <div class="col p-0">
                <input type="date" id="end-date" class="form-control" style="display: none;">
            </div>
        </div>
    </div>

    <div class="mb-3 justify-content-center">
        
            <input type="checkbox" class="toggle-col btn-check" id="btn-check-1" data-target="col-date" autocomplete="off" checked>
            <label class="btn btn-sm" for="btn-check-1">Date</label>
        
            <input type="checkbox" class="toggle-col btn-check" id="btn-check-2" data-target="col-type" autocomplete="off" checked>
            <label class="btn btn-sm" for="btn-check-2">Type</label>
        
            <input type="checkbox" class="toggle-col btn-check" id="btn-check-3" data-target="col-document" autocomplete="off" checked>
            <label class="btn btn-sm" for="btn-check-3">Document Id</label>
        
            <input type="checkbox" class="toggle-col btn-check" id="btn-check-4" data-target="col-draft" autocomplete="off">
            <label class="btn btn-sm" for="btn-check-4">Draft Id</label>
        
            <input type="checkbox" class="toggle-col btn-check" id="btn-check-5" data-target="col-productId" autocomplete="off">
            <label class="btn btn-sm" for="btn-check-5">Code</label>
        
            <input type="checkbox" class="toggle-col btn-check" id="btn-check-6" data-target="col-name" autocomplete="off" checked>
            <label class="btn btn-sm" for="btn-check-6">Name</label>
    
        
            <input type="checkbox" class="toggle-col btn-check" id="btn-check-7" data-target="col-units" autocomplete="off" checked>
            <label class="btn btn-sm" for="btn-check-7">Units</label>
        
            <input type="checkbox" class="toggle-col btn-check" id="btn-check-8" data-target="col-price" autocomplete="off" checked>
            <label class="btn btn-sm" for="btn-check-8">Price</label>
           
            <input type="checkbox" class="toggle-col btn-check" id="btn-check-9" data-target="col-total" autocomplete="off" checked>
            <label class="btn btn-sm" for="btn-check-9">Total</label>
        
            <input type="checkbox" class="toggle-col btn-check" id="btn-check-10" data-target="col-note" autocomplete="off" checked>
            <label class="btn btn-sm" for="btn-check-10">Note</label>
        
            <input type="checkbox" class="toggle-col btn-check" id="btn-check-11" data-target="col-status" autocomplete="off" checked>
            <label class="btn btn-sm" for="btn-check-11">Status</label>
    </div>

    <!-- Table header (static) -->
    <div class="table-scroll-x-wrapper">
        <div id="inventory-table">

                <div class="row py-2 fw-bold border-bottom " style="text-align: left;">
                    <div class="col-1 col-date sort-header" data-sort="date">Date</div>
                    <div class="col-1 col-type" data-sort="type">Type</div>
                    <div class="col-1 col-document sort-header" data-sort="document_id">Document Id</div>
                    <div class="col-1 col-draft sort-header" data-sort="draft_id" >Draft Id</div>
                    <div class="col-1 col-productId">Code</div>
                    <div class="col-2 col-name sort-header" data-sort="name">Name</div>
                    <div class="col-1 col-units">Units</div>
                    <div class="col-1 col-price">Price</div>
                    <div class="col-1 col-total">Total</div>
                    <div class="col-1 col-note">Note</div>
                    <div class="col-1 col-status sort-header" data-sort="status">Status</div>
                </div>        

         <!-- Table body (dynamic) -->
            <div id="inventory-data" style="text-align: left;">
            <!-- Data will be injected here by JavaScript -->
            </div>
        </div>
    </div>
</div> <!-- End of container -->
    <div id="pagination-controls" class="mt-3 d-flex justify-content-center gap-2 flex-wrap"></div>


<!-- JavaScript for live search -->

<style>
    #inventory-table {
  min-width: 1200px;
  display: inline-block;
}
@media (max-width: 768px) {
    .table-scroll-x-wrapper {
        max-height: 45vh; /* Adjust height for smaller screens */
    }
}
</style>
<script>
    
    document.addEventListener("DOMContentLoaded", () => {

        const input = document.getElementById("search-input");
        const table = document.getElementById("inventory-data");
        const filterType = document.getElementById("filter-type");
        const statusFilter = document.getElementById("status-filter");
        const startDateInput = document.getElementById("start-date");
        const endDateInput = document.getElementById("end-date");
        const dateFilter = document.getElementById("date-filter");
        const documentIdFilter = document.getElementById("document-id-filter");
        let currentPage = 1; // Track the current page

        let currentSortField = "";
        let currentSortDirection = "asc"; // or "desc"

        function applyColumnVisibility() {
            document.querySelectorAll(".toggle-col").forEach(toggle => {
                const targetClass = toggle.dataset.target;
                const cols = document.querySelectorAll(`.${targetClass}`);
                cols.forEach(col => {
                    col.style.display = toggle.checked ? "block" : "none";
                });
            });
        }

        function renderTable (data) {
            let html = "";
                data.forEach(item => {
                    html += `
                        <div class="row resizable-row py-2 border-bottom">
                            <div class="col-1 col-date small">${formatDate(item.date)}</div>
                            <div class="col-1 col-type small">${capitalize(item.type)}</div>
                            <div class="col-1 col-document small">${item.document_id}</div>
                            <div class="col-1 col-draft small">${item.draft_id}</div>
                            <div class="col-1 col-productId small">${item.product_id}</div>
                            <div class="col-2 col-name small">${item.name}</div>
                            <div class="col-1 col-units small">${item.Units}</div>
                            <div class="col-1 col-price small">${(item.price).toFixed(1)}</div>
                            <div class="col-1 col-total small">${(item.toal).toFixed(1)}</div>
                            <div class="col-1 col-note small">${item.note}</div>
                            <div class="col-1 col-status small">${capitalize(item.status)}</div>
                            <div class="resize-handle"></div>
                        </div>
                    `;
                });

            if (data.length === 0) {
                html = `<div class="text-muted mt-3">No results found.</div>`;                
            }
                    table.innerHTML = html;
        }

         function renderPagination(totalPages, currentPageParam) {
            const container = document.getElementById("pagination-controls");
            container.innerHTML = "";

            // Previous button
            const prev = document.createElement("button");
            prev.textContent = "Previous";
            prev.className = "btn btn-secondary";
            prev.disabled = currentPageParam === 1;
            prev.addEventListener("click", () => {
                if (currentPage > 1) {
                    currentPage--;
                    runSearch();
                }
            });
            container.appendChild(prev);

            // Numbered buttons
                if (currentPageParam >= 4) {
                const first = document.createElement("button");
                first.textContent = "1";
                first.className = `btn ${currentPageParam === 1 ? "btn-primary" : "btn-outline-primary"}`;
                first.addEventListener("click", () => {
                    currentPage = 1;
                    runSearch();
                });
                container.appendChild(first);
            }

            for(let i = -2; i <= 2; i++) {
                if (currentPageParam + i > 0 && currentPageParam + i <= totalPages) {
                    const btn = document.createElement("button");
                    btn.textContent = currentPageParam + i;
                    btn.className = `btn ${currentPageParam + i === currentPage ? "btn-primary" : "btn-outline-primary"}`;
                    btn.addEventListener("click", () => {
                        currentPage = currentPageParam + i;
                        runSearch();
                    });
                    container.appendChild(btn);
                }
            }

            if (currentPageParam <= totalPages - 3) {
                const last = document.createElement("button");
                last.textContent = totalPages;
                last.className = `btn ${currentPageParam === totalPages ? "btn-primary" : "btn-outline-primary"}`;
                last.addEventListener("click", () => {
                    currentPage = totalPages;
                    runSearch();
                });
                container.appendChild(last);
            }
            // Next button
            const next = document.createElement("button");
            next.textContent = "Next";
            next.className = "btn btn-secondary";
            next.disabled = currentPageParam === totalPages;
            next.addEventListener("click", () => {
                if (currentPage < totalPages) {
                    currentPage++;
                    runSearch();
                }
            });
            container.appendChild(next);
        }

        function runSearch() {
            const query = input.value;
            const type = filterType.value;
            const status = statusFilter.value;
            const date = dateFilter.value;
            const start = startDateInput.value;
            const end = endDateInput.value;
            const document_id = documentIdFilter.value;
            
            
            const params = new URLSearchParams({
            q: query,
            type: type,
            status: status,
            date: date,
            start: start,
            end: end,
            document_id: document_id,
            sort_by: currentSortField,
            sort_dir: currentSortDirection,
            page: currentPage,
            });

            fetch(`/search_inventory_movements?${params}`)
                .then(response => response.json())
                .then(result => {

                renderTable(result.data);
                setupResizableRows();
                renderPagination(result.total_pages, result.current_page);
                applyColumnVisibility();
                })
                .catch(error => console.error("Fetch error:", error));
        }

        document.querySelectorAll(".toggle-col").forEach(checkbox => {
            checkbox.addEventListener("change", () => {
            const targetClass = checkbox.dataset.target;
            const cells = document.querySelectorAll(`.${targetClass}`);
            cells.forEach(cell => {
                cell.style.display = checkbox.checked ? "" : "none";
            });
            });
        });

        document.querySelectorAll(".sort-header").forEach(header => {
        header.addEventListener("click", () => {
            const field = header.dataset.sort;
            console.log(`Sorting by: ${field}`);
            if (currentSortField === field) {
                currentSortDirection = currentSortDirection === "asc" ? "desc" : "asc";
            } else {
                currentSortField = field;
                currentSortDirection = "asc";
            }
            runSearch();
        });
    });

    documentIdFilter.addEventListener("input", runSearch);
    startDateInput.addEventListener("change", runSearch);
    endDateInput.addEventListener("change", runSearch);
    input.addEventListener("input", runSearch);
    filterType.addEventListener("change", runSearch);
    statusFilter.addEventListener("change", runSearch);
    dateFilter.addEventListener("change", () => {
        if (dateFilter.value === "custom") {
            startDateInput.style.display = "inline-block";
            endDateInput.style.display = "inline-block";
        } else {
            startDateInput.style.display = "none";

            endDateInput.style.display = "none";
        }
        runSearch();
    });

    setupResizableRows(); // keep drag feature
    applyColumnVisibility();
    runSearch(); // Initial search to populate the table
});

</script>

{% endblock %}